<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xuan.wen.qin.ssm.model.repository.mapper.TestSlaveMapper">
	<resultMap type="java.util.Map" id="basiceMap">
		<result property="id" column="id" javaType="java.lang.Integer" />
		<result property="master" column="master_id" javaType="java.lang.Integer" />
		<result property="theme" column="test_theme" javaType="java.lang.String" />
		<result property="target" column="test_target" javaType="java.lang.String" />
		<result property="deleted" column="is_delete" javaType="java.lang.Boolean" />
		<result property="addTime" column="add_time" javaType="java.util.Date"
			jdbcType="TIMESTAMP" typeHandler="xuan.wen.qin.ssm.common.ibatis.type.CustomTimeStampHandler" />
		<result property="editTime" column="edit_time" javaType="java.util.Date"
			jdbcType="TIMESTAMP" typeHandler="xuan.wen.qin.ssm.common.ibatis.type.CustomTimeStampHandler" />
	</resultMap>
	<select id="loadByMasterId" parameterType="int" resultMap="basiceMap">
		<include refid="queryBasiceSQL" />
		<where>
			`master_id` = #{id}
		</where>
	</select>
	<sql id="queryBasiceSQL">
		SELECT * FROM `ssm_test_slave`
	</sql>
</mapper>